# Android Studio
.idea/
*.iml

# Gradle
.gradle/
build/
**/build/

# Local configuration
local.properties

# Kotlin / Multiplatform
.kotlin/
kotlin-js-store/

# Binários e Pacotes (Proteção de Release)
*.apk
*.aab
*.exe
*.jar
*.deb
*.rpm
*.dmg
*.zip
*.tar.gz

# Compose Desktop Packaging
package/

# OS
.DS_Store
Thumbs.db
